.userContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding: 1rem;
  background-color: #f0f09b;
  border-radius: 1rem;
}



